<div class="jumbotron">
    <h1>PROCESSWEAVER</h1>
    <p class="lead">Save Time and Money with SAP Business One Multi-Carrier Shipping Software</p>
    <p><a href="http://PROCESSWEAVER.COM" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Enterprise Freight Shopping (EFS)</h2>
        <p>Automatically select optimal carrier and service level based on rates, time-in-transit, and your routing guide.</p>
        <p><a class="btn btn-default" href="https://www.processweaver.com/sap-business-multi-carrier-shipping.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enterprise Address Validation (EAV)</h2>
        <p>Automatic address correction with residential/commercial classification to avoid shipment penalties and delays</p>
        <p><a class="btn btn-default" href="https://www.processweaver.com/sap-business-multi-carrier-shipping.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enterprise Centralised Shipping (ECS)</h2>
        <p>Pack & Ship in one-click to get shipment rate, tracking number(s), carrier label(s), and other documentation</p>
        <p><a class="btn btn-default" href="https://www.processweaver.com/sap-business-multi-carrier-shipping.html">Learn more &raquo;</a></p>
    </div>
</div>
